<!DOCTYPE html>
<html>
  <head>
    <title>WriteComplexVuejs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="app">
      <div class="container">
        <div class="row">
          <div class="col-md-6 m-auto">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
